@import '../../styles/main';
@import '../../styles/utils/colors';

.bottomMenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.bottomMenuArrow {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 1px $greyForIcons solid;
  border-radius: 100%;
  font-size: 24px;
  text-align: center;
  line-height: 30px;

  &:hover {
    background-color: $black;
    cursor: pointer;
  }
}

.bottomMenuItem {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  border: 1px $greyForElements solid;
  border-radius: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 30px;

  &:hover {
    background-color: $black;
    color: $white;
    cursor: pointer;
  }
}


.isActive{
  color: $white;
  background-color: $black;
}
