@import '../../styles/utils/mixins.scss';

.title {
  margin: 24px auto;

  font-weight: 800;
  font-size: 32px;
  line-height: 41px;

  text-align: center;

  letter-spacing: -0.01em;

  @include onTablet {
    margin: 32px auto;
    
    font-size: 48px;
    line-height: 56px;
  }
}
