.main {
  font-family: Mont;
  margin: 16px;

  &__topMenu {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }

  &__view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__view-by-order {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
  }

  &__view-by-number {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 5;
  }

  &__bottom-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  &__bottom-menu-item {
    border: 2px black solid;
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }
}
