@import '../../styles/main';
@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

//@mixin onTablet {
//  @media (min-width: 768px) {
//    @content;
//  }
//}

.card {
  width: 232px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 440px;
  padding: 0 32px;

  border: 1px solid $greyForElements;
  border-radius: 8px;
  background-color: $white;

  @include onTablet {
    width: 237px;
  }

  @include onDesktop {
    width: 272px;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.image {
  width: 224px;
  height: 130px;

  object-fit: contain;
  display: block;
}

.title {
  display: flex;
  justify-content: center;

  font-family: Mont, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  margin-bottom: 24px;

  color: $black;
}

.price {
  color: $black;
  font-family: Mont, serif;
  font-size: 16px;
  font-weight: 800;

  margin-bottom: 8px;
}

.full_price {
  @extend .price;
  color: $grey;
  text-decoration: line-through;
  font-weight: 600;
}

.line {
  width: 100%;
  border-bottom: 1px solid $greyForElements;
  margin-bottom: 16px;
}

.info {
  display: flex;
  justify-content: space-between;

  font-family: Mont, sans-serif;
  font-size: 12px;
  font-weight: 700;

  margin-bottom: 8px;
}

.info_name {
  color: $grey;
}

.info_value {
  color: $black;
}

.info_container {
  margin-bottom: 16px;
}

.buy {
  width: 176px;
  height: 40px;

  background-color: $purple;
  border: 1px solid transparent;
  border-radius: 48px;

  font-family: Mont, serif;
  font-size: 14px;
  font-weight: 700;

  text-decoration: none;
  color: $white;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }

  &_active {
    color: $purple;
    background-color: $white;
    border: 1px solid #E2E6E9;
  }

  @include onTablet {
    width: 118px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.favourites {
  height: 40px;
  width: 40px;

  border: 1px solid $greyForIcons;
  border-radius: 50%;

  cursor: pointer;

  background: url("../../images/Favourites.svg") center no-repeat;
  object-fit: contain;

  transition: all 0.3s ease;

  &:hover {
    border: 1px solid $black;
  }

  &_active {
    border: 1px solid $greyForIcons;
    background: url("../../images/FavouritesFilled.svg") center no-repeat;
  }
}
