@import './utils/reset';
@import './utils/typografy';
@import './utils/colors.scss';
@import '/src/styles/utils/variables';

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}

.link-reset {
  outline: 0;
  color: inherit;

  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

.app {
  font-family: Mont;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 100vh;
}

main {
  position: relative;
  flex-grow: 1;
  background-color: $greyForBackground;
}

// footer {
//   max-width: 1200px;
//   text-align: center;
// }