@import './utils/reset';
@import './utils/typografy';
@import './utils/colors.scss';

header {
  font-family: Mont;
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.link-reset {
  outline: 0;
  color: inherit;

  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}
