@import "../../styles/utils/variables";

.footer {
    height: 257px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;

    &__logo {
        width: 89px;
        margin: 34px 0 0 16px;

        &-container {
            position: relative;
        }

        &-ok {
            position: relative;
            top: -16px;
            left: -45px;
        }

    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-sizing: border-box;
    }

    &__text {
        font-family: "Mont";
        font-weight: 800;
        text-decoration: none;
        color: $grey;
        font-size: 12px;

        &-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 32px 0 0 16px;
        }

        &-mobile {
            padding: 16px 0 16px;
        }

        &-up {
            font-weight: 700;
            margin: 0;
            text-align: center;
            padding-right: 16px;
        }
    }

    &__up {
        height: 30px;
        width: 30px;
        position: relative;
        border: 1px solid $greyForIcons;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 32px 0 32px 0;
        }

        &-logo {
            height: 15px;
            width: 10px;
        }
    }
}