@font-face {
  font-family: Mont;
  src: url("../fonts/FontsFree-Net-Mont-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Mont;
  src: url("../fonts/FontsFree-Net-mont.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Mont;
  src: url("../fonts/FontsFree-Net-Mont1.ttf");
  font-weight: 600;
}
