@import '../../styles/utils/variables';
@import '../../styles/utils/_mixins.scss';
@import '../../styles/utils/colors.scss';

.header {
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 1px 0px $greyForElements;
  overflow: hidden;

  font-family: "Mont";
  font-weight: 800;
  position: sticky;
  background-color: $white;
  top: 0;
  z-index: 2;

  @include onDesktopPlus {
    justify-content: space-evenly;
  }
}

.logo {
  padding: 0px 16px;
  height: 31px;
}

.buttons {
  display: flex;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    box-shadow: -1px 0px 0px $greyForElements;

    width: 48px;
    height: 48px;

    &--count {
      background-color: #4219D0;
      border-radius: 50%;
      color: #fff;
    }
  }

  &__button:nth-child(1),
  &__button:nth-child(3) {
    display: none;
    text-decoration: none;
  }
}

.nav {
  &__list {
    display: none;
    list-style: none;

    gap: 32px;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 800;

    padding: 11px 0;
    transition: color $transition-time;
  }

  &__link:hover {
    color: $black;
  }
}

.is-active {
  color: $black;
  border-bottom: 3px solid $black;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter {
  position: relative;
  left: -10%;
  top: -10%;
  width: 12px;
  height: 12px;
  
  
  color: $white;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  font-weight: 700;
  border-radius: 100%;
  background-color: $purple;
  
}

@include onTablet {
  .buttons__button:nth-child(1),
  .buttons__button:nth-child(3),
  .nav__list {
    display: flex;
  }

  .buttons__button:nth-child(3) {
    box-shadow: -1px 0px 0px $greyForElements;
  }

  .buttons__button:nth-child(2) {
    display: none;
  }
}

@include onDesktop {
  .logo {
    padding: 0px 24px;
  }

  .buttons__button {
    width: 64px;
    height: 64px;
  }

  .nav__list {
    gap: 64px;
  }

  .nav__link {
    padding: 19px 0;
  }
}

@include onDesktopPlus {
  .buttons__button:nth-child(3) {
    border-right: 1.5px solid $greyForElements;
  }
}